extends layout
block content
	-data = data || {}
	h1(class="form-registration") Almost Done!
		if errors
			ul.errors
				for error in errors
					li= error.msg
	form(action="/" method="POST" class="form-registration")
		label(for="username") Username:
		input(
			type="text"
			id="username"
			name="username"
			class="form-control"
			value=data.username
		)
		label(for="bio") Bio:
		textarea(
			id="bio"
			name="bio"
			class="form-control"
			value=data.bio
		)
		input(
			type="hidden"
			id="registerId"
			name="registerId"
			class="form-control"
			value=data.registerId
		)
		label(for="agreeTos") Agree to the 
		a(href="/tos") Terms Of Service
		input(
			type="checkbox"
			id="agreeTos"
			name="agreeTos"
			class="form-control"
			value=data.agreeTos	
		)
		input(type="submit" value="Finish" class="btn btn-lg btn-primary btn-block" id="finishForm" disabled)
	script(src="/js/auto-expand.js")
	script(src="/js/save-registerId.js")
	script(src="/js/allow-signup-tos.js")
