extends layout

block content

  
  if registrations.length
    table.listing-table.table-dark.table-striped
      tr
        th User ID
        th Name
        th Username
        th Email
        th Password
        th Register ID
      each registration in registrations
          tr
            td= registration._id
            td= registration.name
            td= registration.username
            td= registration.email
            td= registration.password
            td= registration.registerId
  else
    p No registrations yet :(
