extends layout

block content
	-data = data || {}
	h1(class="form-registration") Log In
	if errors
		ul.errors
			for error in errors
				li= error.msg
	script(src="/js/check-login.js")
	form(action="/auth/user" method="POST" class="form-registration")
		label(for="email") Email:
		input(
			type="email"
			id="email"
			name="email"
			class="form-control"
			value=data.email
		)
		
		label(for="password") Password:
		input(
			type="password"
			id="password"
			name="password"
			class="form-control"
			value=data.userPass
		)
		input(type="submit" value="Submit" class="btn btn-lg btn-primary btn-block")
	a(href="/signup", class="form-registration") Don't Have An Account? Sign Up
