extends layout

block content
	-data = data || {}
	h1(class="form-registration") New Post
	if errors
		ul.errors
			for error in errors
				li= error.msg
	form(action="/new" method="POST" class="form-registration" enctype="multipart/form-data")
		label(for="name") Title:
		input(
			type="text"
			id="title"
			name="title"
			class="form-control"
			value=data.title
		)

		label(for="body") Body:
		textarea(
			type="text"
			id="subtitle"
			name="subtitle"
			class="form-control"
			value=data.subtitle
			maxlength="200"
		)
		
		label(for="photo") Photo:
		input(
			type="file"
			accept="image/*"
			name="photo"
			class="form-control"
		)
		
		input(
			type="hidden"
			id="userId"
			name="userId"
			class="form-control"
			value=data.userId
		)
		
		input(type="submit" value="Submit" class="btn btn-lg btn-primary btn-block")
		script(src="/js/auto-expand.js")
		script(src="/js/set-userId.js")
